@import 'global_mixins';

$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$default-font-weight: 300;
$default-font-size: 20px;

$heavy-font-weight: 500;
$heavy-font-size: 36px;

$text-color: #404040;
$background-color: #F0F0F0;
$link-color: #7F7F7F;

$triangle-width: 21.65px;

$default-animation-length: 0.75s;

@mixin border-widths-for-triangle-with-base-width-and-color($base-width, $color) {
	border-left: (($base-width) / (2 * 0.866)) solid transparent;
	border-right: (($base-width) / (2 * 0.866)) solid transparent;
	border-bottom: $base-width solid $color;
}

@mixin transition($property, $duration) {
	transition: $property $duration;
	-webkit-transition: $property $duration;
}

body {
	font-family: $font-family; 
	font-weight: $default-font-weight;
	font-size: $default-font-size;
	color: $text-color;
	background-color: $background-color;
}

h3 {
	font-weight: $heavy-font-weight;
	font-size: $heavy-font-size;
	color: $text-color;
	margin: 0px;
}

a {
	color: $link-color;
	text-decoration: none;
}

a:hover {
	color: $text-color;
	text-decoration: underline;
	@include transition(color, $default-animation-length);
}

div.icon_cluster {
	width: 75px;
	float: left;
}

.icon_cluster.first {
	@include animation('fade-in 0.75s 1');
}

.icon_cluster.second {
	@include animation('fade-in 1.5s 1');
}

.icon_cluster.third {
	@include animation('fade-in 2.25s 1');
}

div.arrow-up {
	width: 0; 
	height: 0; 
	float: left;
	opacity: 1;
	@include transition(opacity, $default-animation-length);
}

.white {
	border-bottom-color:$background-color !important;
}

.gray {
	border-bottom-color:$link-color !important;
}

.arrow-up:hover {
	opacity: 0;
}

div#picture {
	float: left;
	background-size:cover;
	border-radius: 50%;
	border-color: $background-color;
}

.spacer {
	width: 100%;
	float: left;
}

div#picture > * {
	opacity: 1;
	@include transition(opacity, $default-animation-length);
}

div#picture:hover > * {
	opacity: 0;
}

@include keyframes(adjust-content) {
  0%   { opacity: 0.75; padding-top: 20px; }
  100% { opacity: 1; padding-top: 0px; }
}

@include keyframes(fade-in) {
	0% { opacity: 0; }
	100% { opacity: 1; }
}