body
{
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 300;
	font-size: 20px;
	color: #404040;
	background-color: #F0F0F0;
}

h3
{
	font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight:500;
	font-size:36px;
	color: #404040;
	margin: 0px;
}

a
{
	color: #7F7F7F;
	text-decoration: none;
	-webkit-transition: color 0.75s;
}

a:hover
{
	color: #404040;
	text-decoration: underline;
}

div.icon_cluster
{
	width: 75px;
	float: left;
}

div#content
{
	margin-left: 20px;
	float: left;
	width: 90%;
	margin-right: 20px;
}

div#icons
{
	margin-left: 20px;
	float: left;
	width: 90%;
	margin-bottom: 20px;
	margin-right: 20px;
}

div.arrow-up
{
	width: 0; 
	height: 0; 
	float:left;
	border-left: 12.5px solid transparent;
	border-right: 12.5px solid transparent;

	border-bottom: 21.65px solid #404040;
	opacity: 1;
	-webkit-transition: opacity 0.75s; /* Safari */
}

div#picture
{
	background-image:url('/img/paul_face.jpg');
	float:left;
	width: 75px;
	height: 75px;
	background-size:cover;
	border-radius: 50%;
	border-color: white;
}

.spacer
{
	width: 100%;
	float: left;
	height: 4px;
}

.white
{
	border-bottom-color:#F0F0F0 !important;
}

.gray
{
	border-bottom-color:#7F7F7F !important;
}

.arrow-up:hover
{
	opacity: 0;
}

div#picture > *
{
	opacity: 1;
	-webkit-transition: opacity 0.75s;
}

div#picture:hover > *
{
	opacity: 0;
}