/* @author 14islands.com
 * SASS mixins for future proof resolution media query
 */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #404040;
  background-color: #f0f0f0; }

h3 {
  font-weight: 500;
  font-size: 36px;
  color: #404040;
  margin: 0px; }

a {
  color: #7f7f7f;
  text-decoration: none; }

a:hover {
  color: #404040;
  text-decoration: underline;
  transition: color 0.75s;
  -webkit-transition: color 0.75s; }

div.icon_cluster {
  width: 75px;
  float: left; }

.icon_cluster.first {
  -webkit-animation: fade-in 0.75s 1;
  -moz-animation: fade-in 0.75s 1;
  -o-animation: fade-in 0.75s 1;
  animation: fade-in 0.75s 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.icon_cluster.second {
  -webkit-animation: fade-in 1.5s 1;
  -moz-animation: fade-in 1.5s 1;
  -o-animation: fade-in 1.5s 1;
  animation: fade-in 1.5s 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.icon_cluster.third {
  -webkit-animation: fade-in 2.25s 1;
  -moz-animation: fade-in 2.25s 1;
  -o-animation: fade-in 2.25s 1;
  animation: fade-in 2.25s 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

div.arrow-up {
  width: 0;
  height: 0;
  float: left;
  opacity: 1;
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s; }

.white {
  border-bottom-color: #f0f0f0 !important; }

.gray {
  border-bottom-color: #7f7f7f !important; }

.arrow-up:hover {
  opacity: 0; }

div#picture {
  float: left;
  background-size: cover;
  border-radius: 50%;
  border-color: #f0f0f0; }

.spacer {
  width: 100%;
  float: left; }

div#picture > * {
  opacity: 1;
  transition: opacity 0.75s;
  -webkit-transition: opacity 0.75s; }

div#picture:hover > * {
  opacity: 0; }

@-webkit-keyframes adjust-content {
  0% {
    opacity: 0.75;
    padding-top: 20px; }

  100% {
    opacity: 1;
    padding-top: 0px; } }

@-moz-keyframes adjust-content {
  0% {
    opacity: 0.75;
    padding-top: 20px; }

  100% {
    opacity: 1;
    padding-top: 0px; } }

@-o-keyframes adjust-content {
  0% {
    opacity: 0.75;
    padding-top: 20px; }

  100% {
    opacity: 1;
    padding-top: 0px; } }

@keyframes adjust-content {
  0% {
    opacity: 0.75;
    padding-top: 20px; }

  100% {
    opacity: 1;
    padding-top: 0px; } }

@-webkit-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-moz-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@-o-keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

@keyframes fade-in {
  0% {
    opacity: 0; }

  100% {
    opacity: 1; } }

body {
  margin-top: 75px; }

div.icon_cluster {
  width: 150px; }

div#content {
  margin-left: 200px;
  margin-right: 20px;
  position: absolute;
  width: 620px;
  left: 15%;
  -webkit-animation: adjust-content 0.75s 1;
  -moz-animation: adjust-content 0.75s 1;
  -o-animation: adjust-content 0.75s 1;
  animation: adjust-content 0.75s 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

div#icons {
  position: absolute;
  left: 15%;
  width: 150px;
  margin-right: 20px;
  margin-bottom: 0px; }

div.arrow-up {
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 43.3px solid #404040; }

div#picture {
  width: 150px;
  height: 150px; }
  @media (-webkit-max-device-pixel-ratio: 1.49), (max--moz-device-pixel-ratio: 1.49), (-o-max-device-pixel-ratio: 2.98 / 2), (max-device-pixel-ratio: 1.49), (max-resolution: 143.04dpi), (max-resolution: 1.49dppx) {
    div#picture {
      background-image: url("../img/paul-face-desktop.png"); } }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    div#picture {
      background-image: url("../img/paul-face-retina-desktop.png"); } }

.spacer {
  height: 8px; }
